@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply font-serif;
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

#meLogo{
    border-radius: 50%;
    
}

#meAboutLogo{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

#navBar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5in
}