@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply font-serif;
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

#meLogo{
    border-radius: 50%;
    
}

#meAboutLogo{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

#navBar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5in
}

#round{
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    body{
        font-size: 10px;
        background-color: #0a192f;
    }
    #phoneScreen{
        margin-top: -2in;
    }
    #small{
        font-size: 2rem;
    }
    #smallIcon{
       max-width: 2rem;
    }
    #contactSmall{
        margin-top: 3in;
    }
  }

  @media only screen and (min-width: 800px) {
    body{
        background-color: #0a192f;
    }
  }

 